@import url(./style.css);

.body {
    background-color: var(--cinza);
}

h1 {
    color: var(--branco);
    font-family: var(--fonte_secundaria);
    font-size: 50px;
    font-weight: bold;
    padding: 3rem 0 3rem 0;
    text-align: center;
    text-shadow: 
               -1px -1px 0px var(--preto), 
               -1px 1px 0px var(--preto),                    
                1px -1px 0px var(--preto),                  
                2px 0px 0px var(--preto);
}

.secao {
    background-color: var(--cinza_claro);
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

/* Botões */
.botao {
    background-color: var(--vermelho);
    border-radius: 20px;
    color: var(--branco);
    font-family: var(--fonte_principal);
    text-align: justify;
    text-decoration: none;
    margin-bottom: 1em;
    z-index: 1;
}

.entrar{
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.entrar:hover {
    background-color: var(--vermelho_escuro);
    padding: 10px 20px 10px 20px;
}

.criar_conta{
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.criar_conta:hover {
    background-color: var(--vermelho_escuro);
    padding: 10px 20px 10px 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item{
    padding: 6rem 3rem 5rem 3rem;
}


/* ---------------------------------------------------------------- */

/* Imagens */
.imagem1 {
    margin: 1rem 0 0 8rem;
    z-index: 1;
}

.imagem4 {
    margin: 2.8rem 0 0 3rem;
    z-index: 1;
}

/* ---------------------------------------------------------------- */