.body {
    background-color: var(--branco);
}

h1 {
    color: var(--cinza_claro);
    font-family: var(--fonte_titulos);
    font-size: 50px;
    font-weight: bold;
    padding: 3rem 0 3rem 0;
    text-align: center;
    text-shadow: 
               -1px -1px 0px var(--preto), 
               -1px 1px 0px var(--preto),                    
                1px -1px 0px var(--preto),                  
                2px 0px 0px var(--preto);
}

/* ---------------------------------------------------------------- */

.container {
    text-align: center;
}

/* Botões */
button {
   background-color: var(--vermelho);
   border: 2px solid var(--salmao);
   border-radius: 15px;
}

#entrada {
    padding: 0.5rem 2.8rem 0.5rem 2.8rem;
}

#cadastrar {
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.botao {
    color: var(--branco);
    font-size: 16px;
    text-decoration: none;
}

/* ---------------------------------------------------------------- */

.entrada {
    padding-bottom: 0.7rem;
}

/* Imagens */
.imagens {
    margin: 3.5rem 0 2rem 0;
}

.imagem1 {
    width: 0px;
}

.imagem2 {
    width: 75%;
}
/* ---------------------------------------------------------------- */

@media screen and (min-width: 768px) {
    h1 {
        color: var(--cinza_claro);
        font-size: 80px;
        padding: 7rem 0 3.25rem 0;
    }
    
    /* ---------------------------------------------------------------- */
    
    .container {
        background: linear-gradient(var(--branco), var(--cinza));
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .botoes {
        margin-top: 7rem;
    }
    
    /* ---------------------------------------------------------------- */
    /* Botões */
    button {
       background-color: var(--vermelho);
       border: 2px solid var(--salmao);
       border-radius: 15px;
    }
    
    #entrada {
        padding: 0.6rem 3rem 0.6rem 3rem;
    }
    
    #cadastrar {
        padding: 0.6rem 1.85rem 0.6rem 1.85rem;
    }
    
    .botao {
        color: var(--branco);
        font-size: 22px;
        text-decoration: none;
    }
    
    .entrada {
        padding-bottom: 0.5rem;
    }
    
    /* ---------------------------------------------------------------- */
    
    /* Imagens */  
    .imagens {
        margin: 5rem 1rem 5rem 1rem;
    }

    .imagem1 {
        padding-left: 0.8rem;
        width: 220px;
    }
    
    .centro {
        text-align: center;
        margin: 5rem 1rem 5rem 1rem;
    }
    .imagem2 {
        padding-top: 1rem;
        width: 210px;
    }
    /* ---------------------------------------------------------------- */
}
