:root {
    --amarelo: #f7d701;
    --branco: #FFFFFF;
    --cinza: #a4a3a3;
    --cinza_claro: #dcdbdb;
    --preto: #000000;
    --fonte_principal: 'Raleway', sans-serif;
    --fonte_secundaria: 'Pacifico', cursive;
}

header {
    background-image: url(../img/chapeus.jpg);
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1.5rem;
}

/* estilo do cabeçalho */
.cabecalho {
    font-size: 30px;
    font-weight: 600;
    font-family: var(--fonte_secundaria);
    text-shadow: 
               -1px -1px 0px var(--preto), 
               -1px 1px 0px var(--preto),                    
                1px -1px 0px var(--preto),                  
                2px 0px 0px var(--preto);
    
}

/* Posição do cabeçalho */
nav {
    margin-top: 10%;
    padding-left: 60%;
}


/* alinhamento do cabeçalho */
nav li {
    display: inline;
    padding-top: 10em;

}

/* decoração cabeçalho */
nav a {
    color: var(--branco);
    text-decoration: none;
}
 nav a:hover{
    color: var(--cinza_claro);
 }

 /* Tamanho do logo */
.logo {
    width: 50%;
}


 footer {
    background-image: url(../img/chapeus.jpg);
    line-height: 24px;
    padding: 2rem;
    position: flex;
    
}

.rodape {
    color: var(--branco);
    font-family: var(--fonte_secundaria);
    font-size: 18px;
    text-align: center;
    text-shadow: 
        -1px -1px 0px var(--preto), 
        -1px 1px 0px var(--preto),                    
        1px -1px 0px var(--preto),                  
        2px 0px 0px var(--preto);
}
