:root {
    --branco: #FFFFFF;
    --cinza: #a4a3a3;
    --cinza_claro: #dcdbdb;
    --preto: #000000;
    --fonte_principal: 'Raleway', sans-serif;
    --fonte_secundaria: 'Pacifico', cursive;
}

header {
    background-color: var(--preto);
    padding: 1.5rem;
}

footer {
    background-color: var(--preto);
    line-height: 24px;
    padding: 2rem;
    position: flex;
}

.rodape {
    color: var(--branco);
    font-family: var(--fonte_secundaria);
    font-size: 18px;
    text-align: center;
}

/* estilo do cabeçalho */
.cabecalho {
    font-size: 18px;
    font-family: var(--fonte_secundaria);
    padding-left: 70%;
}

/* alinhamento do cabeçalho */
nav li {
    display: inline;
    padding-left: 2em;
}

/* decoração cabeçalho */
nav a {
    color: var(--branco);
    text-decoration: none;
}
 nav a:hover{
    color: var(--cinza_claro);
 }